<%- include("header") -%>


    <div class="row p-5" style="background-color: rgb(250, 250, 250);">
        <div class="col-4">
            <img src="https://yt3.ggpht.com/k1t37AgfuS1IscfxNaBWnSq1JjHo4k9EQxrn8OIDwCXEuuyh3Y_RKhj2Jc5EHJDlajgJJrWskw=s88-c-k-c0x00ffffff-no-rj" class="w-100" style="border-radius: 50% ;">
        </div>
        <div class="col">
            <h1 class="fw-bold">Riyaj Bhandari</h1>
            <h3>About Me</h3>
            <div class="about card p-3">

                <p>I am a passinoate learner.Pushing my self to limit but i have'nt achieved what i want i want to conquor the world.</p>
                <h6>Skills</h6>
                <ul>
                    <li>Web Development</li>
                    <li>DSA</li>
                    <li>Coding</li>
                </ul>
            </div>
        </div>
    </div>

    <%- include("footer") -%>